.feature {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .feature-title {
    position: relative;
}

.feature .feature-title::before {
    left: 0;
    top: -20px;
    width: 20%;
    background: linear-gradient(103deg, #AE67FA -13.86%, #F49867 99.55%), #FFF;
    height: 2px;
    border-radius: 6px;
    content: "";
    position: absolute;
}

.feature .feature-info {
    color: var(--color-text);
    max-width: 650px;
    margin-top: 40px;
}