.gpt3-possibility {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
}

@media screen and (max-width:768px) {
    .gpt3-possibility {
        flex-direction: column-reverse;
    }
}

.gpt3-possibility-img {
    flex: .5;
}

.gpt3-possibility-text {
    flex: 1;
}

.gpt3-possibility-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gpt3-possibility-text p {
    color: var(--color-text) !important;
    max-width: 650px;
    line-height: 30px;
    margin-top: 40px;
}

.gpt3-possibility-img-holder .vr {
    height: 100%;
    width: 100%;
}