.gpt3-footer {
    display: block;
    color: white;
    /* overflow-x: hidden; */
}

.gpt3-footer-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
}

.gpt3-footer-heading h1 {
    text-align: center;
}

.gpt3-footer-heading button {
    cursor: pointer;
    color: #FFF;
    margin-top: 3rem;
    font-family: ' Gilroy-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    background-color: transparent;
    padding: 1rem 2rem;
    border: 1px solid white;
    transition: var(--main-transition);
}

.gpt3-footer-heading button:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.gpt3-footer-detalis {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    line-height: 1.8;
}

@media screen and (max-width:992px) {
    .gpt3-footer-detalis {
        gap: 40px;
        grid-template-columns: repeat(2, calc(100% / 2));
    }
}

@media screen and (max-width:768px) {
    .gpt3-footer-detalis {
        gap: 20px;
        grid-template-columns: repeat(1, calc(100% / 1));
        text-align: center;
    }
}

.gpt3-footer-logo-div {}

.gpt3-footer-links-div {}

.gpt3-footer-rights {
    padding: 5rem 0;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}